In [56]:
import numpy as np
import pandas as pd
import os
import datetime as dt
#from src import market as mkt
from src import optimizer as opt
from src import storage_opt as stgdisp

In [2]:
from pyiso import client_factory

In [5]:
testmat = np.diag([5,6,7,8]) + np.ones((4,4))

In [7]:
np.multiply(testmat, np.diag([1,1,1,1]))

array([[6., 0., 0., 0.],
       [0., 7., 0., 0.],
       [0., 0., 8., 0.],
       [0., 0., 0., 9.]])

In [17]:
test = np.ones((5,5))

In [21]:
test

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [ ]:
othertest = np.diag([5,6,5,6,8]) + np.tril(np.ones((5,5)))

In [23]:
othertest

array([[6., 0., 0., 0., 0.],
       [1., 7., 0., 0., 0.],
       [1., 1., 6., 0., 0.],
       [1., 1., 1., 7., 0.],
       [1., 1., 1., 1., 9.]])

In [24]:
test[:,4] + othertest[2,:]

array([2., 2., 7., 1., 1.])

In [2]:
print(os.getcwd())

/Users/Desmond/Desktop/Coding/GitHub/Storage/Energy-Storage-Valuation

In [3]:
prices = pd.read_csv('./data/price_data.csv', parse_dates = ["Date"])
prices.columns = ['Date','Price']

In [4]:
prices.head()

                 Date  Price
0 2019-01-03 00:00:00  46.72
1 2019-01-03 00:15:00  40.48
2 2019-01-03 00:30:00  37.94
3 2019-01-03 00:45:00  36.72
4 2019-01-03 01:00:00  40.32

In [5]:
wx = pd.read_csv('./data/weather.csv', parse_dates = ['Time'])[['Time','Temp','Dewpoint','Humid']]

In [6]:
wx.head()

                 Time  Temp  Dewpoint  Humid
0 2019-01-03 00:00:00    44        33   0.65
1 2019-01-03 01:00:00    41        33   0.73
2 2019-01-03 02:00:00    40        34   0.79
3 2019-01-03 03:00:00    40        32   0.73
4 2019-01-03 04:00:00    40        34   0.79

In [7]:
data = prices.merge(wx, left_on = 'Date', right_on = 'Time', how='left')

In [8]:
data = data.fillna(method='ffill')[['Price','Temp','Dewpoint','Humid']]

In [9]:
data.head()

   Price  Temp  Dewpoint  Humid
0  46.72  44.0      33.0   0.65
1  40.48  44.0      33.0   0.65
2  37.94  44.0      33.0   0.65
3  36.72  44.0      33.0   0.65
4  40.32  41.0      33.0   0.73

In [10]:
test = mkt.MarketSimulator()

In [11]:
results = test(testdata = data)

In [12]:
results

array([ -15.75691181,   18.07814074, -651.94119481])

In [13]:
from random import choices

In [16]:
choices(np.arange(0,3),k=5)

[1, 0, 2, 0, 2]

In [17]:
data.head()

   Price  Temp  Dewpoint  Humid
0  46.72  44.0      33.0   0.65
1  40.48  44.0      33.0   0.65
2  37.94  44.0      33.0   0.65
3  36.72  44.0      33.0   0.65
4  40.32  41.0      33.0   0.73

In [21]:
testind = choices(np.arange(0,5), k=7)

In [24]:
data.shape

(192, 4)

In [25]:
len(data)

192

In [2]:
#test optimizer

In [2]:
R = np.zeros((5,10,10,7))
R[2,3,4,5] = 10

In [3]:
P = np.zeros((5,10,10,7)) + .1

In [4]:
test = opt.solve(R,P)

In [ ]:
solargen = generation[i]
price = prices[i]
rows = np.ones((1,6)).T
solarmat = 1 - np.triu(rows * states) - (rows * states).T)
solarrev = solarmat * solargen * price
storagemat = 1 - solarmat.T
storagerev = storagemat * capacity * price + np.diag(ancillary * capacity * states)
rewardmat[:,:,i] = solarrev + storagerev

In [33]:
solargen = 5
price = 10
rows = np.ones((1,6)).T
states = 3
states = np.arange(0,6)
#solarmat = 1 - np.triu(rows * states) - (rows * states).T

In [28]:
solarmat

array([[-5., -5., -5., -5., -5., -5.],
       [-2., -2., -2., -2., -2., -2.],
       [-2., -2., -2., -2., -2., -2.],
       [-2., -2., -2., -2., -2., -2.],
       [-2., -2., -2., -2., -2., -2.],
       [-2., -2., -2., -2., -2., -2.]])

In [41]:
5 - np.triu((rows * states) - (rows * states).T)

array([[5., 4., 3., 2., 1., 0.],
       [5., 5., 4., 3., 2., 1.],
       [5., 5., 5., 4., 3., 2.],
       [5., 5., 5., 5., 4., 3.],
       [5., 5., 5., 5., 5., 4.],
       [5., 5., 5., 5., 5., 5.]])

In [2]:
price = np.random.randint(low = 10, high=20, size = (168,1))
market = pd.DataFrame(price)
market.columns = ['price']
generation = pd.read_csv("./data/generation.csv", parse_dates = ['LocalTime'])
generation['Date'] = generation['LocalTime'].dt.normalize()
generation["Hour"] = generation['LocalTime'].dt.hour
generation = generation[['Date','Hour','Power(MW)']]
generation = generation.groupby(by=['Date','Hour'], as_index = False).mean()
generation = generation['Power(MW)'][:168]/10
asset = {'mw': 1}

In [3]:
test = stgdisp.DispatchAsset()

In [4]:
run = test(asset = asset, gen = generation, market = market)

In [9]:
testprob = np.ones((4))
testrev = np.random.rand((4))
Q = np.random.rand((4))

In [11]:
np.argmax(np.multiply(testprob, (testrev + Q)))

2

In [7]:
run['prob'][0,:,0]

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [10]:
np.arange(0,(asset['mw']+.1),.1)/5

array([0.  , 0.02, 0.04, 0.06, 0.08, 0.1 , 0.12, 0.14, 0.16, 0.18, 0.2 ,
       0.22, 0.24, 0.26, 0.28, 0.3 , 0.32, 0.34, 0.36, 0.38, 0.4 , 0.42,
       0.44, 0.46, 0.48, 0.5 , 0.52, 0.54, 0.56, 0.58, 0.6 , 0.62, 0.64,
       0.66, 0.68, 0.7 , 0.72, 0.74, 0.76, 0.78, 0.8 , 0.82, 0.84, 0.86,
       0.88, 0.9 , 0.92, 0.94, 0.96, 0.98, 1.  ])

In [5]:
run['vals']

{'reward': array([[[ 0.  ,  0.  ,  0.  , ...,  0.  ,  0.  ,  0.  ],
         [ 0.  ,  0.  ,  0.  , ...,  0.  ,  0.  ,  0.  ],
         [ 0.  ,  0.  ,  0.  , ...,  0.  ,  0.  ,  0.  ],
         ...,
         [ 0.  ,  0.  ,  0.  , ...,  0.  ,  0.  ,  0.  ],
         [ 0.  ,  0.  ,  0.  , ...,  0.  ,  0.  ,  0.  ],
         [ 0.  ,  0.  ,  0.  , ...,  0.  ,  0.  ,  0.  ]],

        [[ 1.  ,  1.9 ,  1.3 , ...,  1.1 ,  1.8 ,  1.5 ],
         [ 0.05,  0.05,  0.05, ...,  0.05,  0.05,  0.05],
         [ 0.  ,  0.  ,  0.  , ...,  0.  ,  0.  ,  0.  ],
         ...,
         [ 0.  ,  0.  ,  0.  , ...,  0.  ,  0.  ,  0.  ],
         [ 0.  ,  0.  ,  0.  , ...,  0.  ,  0.  ,  0.  ],
         [ 0.  ,  0.  ,  0.  , ...,  0.  ,  0.  ,  0.  ]],

        [[ 2.  ,  3.8 ,  2.6 , ...,  2.2 ,  3.6 ,  3.  ],
         [ 1.  ,  1.9 ,  1.3 , ...,  1.1 ,  1.8 ,  1.5 ],
         [ 0.1 ,  0.1 ,  0.1 , ...,  0.1 ,  0.1 ,  0.1 ],
         ...,
         [ 0.  ,  0.  ,  0.  , ...,  0.  ,  0.  ,  0.  ],
         [ 0.  ,  0.  ,  0.  , ...,  0.  ,  0.  ,  0.  ],
         [ 0.  ,  0.  ,  0.  , ...,  0.  ,  0.  ,  0.  ]],

        ...,

        [[ 8.  , 15.2 , 10.4 , ...,  8.8 , 14.4 , 12.  ],
         [ 7.  , 13.3 ,  9.1 , ...,  7.7 , 12.6 , 10.5 ],
         [ 6.  , 11.4 ,  7.8 , ...,  6.6 , 10.8 ,  9.  ],
         ...,
         [ 0.4 ,  0.4 ,  0.4 , ...,  0.4 ,  0.4 ,  0.4 ],
         [ 0.  ,  0.  ,  0.  , ...,  0.  ,  0.  ,  0.  ],
         [ 0.  ,  0.  ,  0.  , ...,  0.  ,  0.  ,  0.  ]],

        [[ 9.  , 17.1 , 11.7 , ...,  9.9 , 16.2 , 13.5 ],
         [ 8.  , 15.2 , 10.4 , ...,  8.8 , 14.4 , 12.  ],
         [ 7.  , 13.3 ,  9.1 , ...,  7.7 , 12.6 , 10.5 ],
         ...,
         [ 1.  ,  1.9 ,  1.3 , ...,  1.1 ,  1.8 ,  1.5 ],
         [ 0.45,  0.45,  0.45, ...,  0.45,  0.45,  0.45],
         [ 0.  ,  0.  ,  0.  , ...,  0.  ,  0.  ,  0.  ]],

        [[10.  , 19.  , 13.  , ..., 11.  , 18.  , 15.  ],
         [ 9.  , 17.1 , 11.7 , ...,  9.9 , 16.2 , 13.5 ],
         [ 8.  , 15.2 , 10.4 , ...,  8.8 , 14.4 , 12.  ],
         ...,
         [ 2.  ,  3.8 ,  2.6 , ...,  2.2 ,  3.6 ,  3.  ],
         [ 1.  ,  1.9 ,  1.3 , ...,  1.1 ,  1.8 ,  1.5 ],
         [ 0.5 ,  0.5 ,  0.5 , ...,  0.5 ,  0.5 ,  0.5 ]]]),
 'prob': array([[[1., 1., 1., ..., 1., 1., 1.],
         [0., 0., 0., ..., 0., 0., 0.],
         [0., 0., 0., ..., 0., 0., 0.],
         ...,
         [0., 0., 0., ..., 0., 0., 0.],
         [0., 0., 0., ..., 0., 0., 0.],
         [0., 0., 0., ..., 0., 0., 0.]],

        [[1., 1., 1., ..., 1., 1., 1.],
         [1., 1., 1., ..., 1., 1., 1.],
         [0., 0., 0., ..., 0., 0., 0.],
         ...,
         [0., 0., 0., ..., 0., 0., 0.],
         [0., 0., 0., ..., 0., 0., 0.],
         [0., 0., 0., ..., 0., 0., 0.]],

        [[1., 1., 1., ..., 1., 1., 1.],
         [1., 1., 1., ..., 1., 1., 1.],
         [1., 1., 1., ..., 1., 1., 1.],
         ...,
         [0., 0., 0., ..., 0., 0., 0.],
         [0., 0., 0., ..., 0., 0., 0.],
         [0., 0., 0., ..., 0., 0., 0.]],

        ...,

        [[1., 1., 1., ..., 1., 1., 1.],
         [1., 1., 1., ..., 1., 1., 1.],
         [1., 1., 1., ..., 1., 1., 1.],
         ...,
         [1., 1., 1., ..., 1., 1., 1.],
         [0., 0., 0., ..., 0., 0., 0.],
         [0., 0., 0., ..., 0., 0., 0.]],

        [[1., 1., 1., ..., 1., 1., 1.],
         [1., 1., 1., ..., 1., 1., 1.],
         [1., 1., 1., ..., 1., 1., 1.],
         ...,
         [1., 1., 1., ..., 1., 1., 1.],
         [1., 1., 1., ..., 1., 1., 1.],
         [0., 0., 0., ..., 0., 0., 0.]],

        [[1., 1., 1., ..., 1., 1., 1.],
         [1., 1., 1., ..., 1., 1., 1.],
         [1., 1., 1., ..., 1., 1., 1.],
         ...,
         [1., 1., 1., ..., 1., 1., 1.],
         [1., 1., 1., ..., 1., 1., 1.],
         [1., 1., 1., ..., 1., 1., 1.]]]),
 'vals': {'opt_val': array([10., 10., 10., 10., 10., 10., 10.,  0.,  0.,  9.,  0.,  1.,  0.,
          0.,  9., 10., 10., 10., 10., 10., 10., 10., 10., 10., 10., 10.,
         10., 10., 10., 10., 10.,  8.,  0.,  9.,  6.,  5.,  3.,  0., 10.,
         10., 10., 10., 10., 10., 10., 10., 10., 10., 10., 10., 10., 10.,
         10., 10.,  8.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0., 10., 10.,
         10., 10., 10., 10., 10., 10., 10., 10., 10., 10., 10., 10., 10.,
          9.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  9., 10., 10., 10.,
         10., 10., 10., 10., 10., 10., 10., 10., 10., 10., 10.,  7.,  0.,
          0.,  0.,  0.,  0.,  0.,  0.,  0.,  9., 10., 10., 10., 10., 10.,
         10., 10., 10., 10., 10., 10., 10., 10., 10.,  9.,  0.,  0.,  0.,
          0.,  0.,  0.,  0.,  0.,  9., 10., 10., 10., 10., 10., 10., 10.,
         10., 10., 10., 10., 10., 10., 10., 10., 10., 10., 10., 10., 10.,
         10., 10., 10., 10., 10., 10., 10., 10., 10., 10., 10.,  0.])}}

In [5]:
testthing = np.zeros(5)

In [6]:
testthing

array([0., 0., 0., 0., 0.])

In [6]:
run['vals']

{'opt_act': array([10., 10., 10., 10., 10., 10., 10.,  0.,  0.,  9.,  0.,  1.,  0.,
         0.,  9., 10., 10., 10., 10., 10., 10., 10., 10., 10., 10., 10.,
        10., 10., 10., 10., 10.,  8.,  0.,  9.,  6.,  5.,  3.,  0., 10.,
        10., 10., 10., 10., 10., 10., 10., 10., 10., 10., 10., 10., 10.,
        10., 10.,  8.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0., 10., 10.,
        10., 10., 10., 10., 10., 10., 10., 10., 10., 10., 10., 10., 10.,
         9.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  9., 10., 10., 10.,
        10., 10., 10., 10., 10., 10., 10., 10., 10., 10., 10.,  7.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  9., 10., 10., 10., 10., 10.,
        10., 10., 10., 10., 10., 10., 10., 10., 10.,  9.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  9., 10., 10., 10., 10., 10., 10., 10.,
        10., 10., 10., 10., 10., 10., 10., 10., 10., 10., 10., 10., 10.,
        10., 10., 10., 10., 10., 10., 10., 10., 10., 10., 10.,  0.]),
 'revenue': 2071.553}

In [7]:
len(run['vals']['opt_act'])

168

In [5]:
test = np.ones(5)

In [6]:

test

array([1., 1., 1., 1., 1.])

In [7]:
test[3]

1.0

In [8]:
test

array([1., 1., 1., 1., 1.])

In [27]:
print(os.getcwd())

/Users/Desmond/Desktop/Coding/GitHub/Storage/Energy-Storage-Valuation

In [51]:
gendata = pd.read_csv('./data/generation.csv', parse_dates = ['Time stamp'])

In [52]:
gendata['month'] = gendata['Time stamp'].dt.month
gendata['year'] = gendata['Time stamp'].dt.year

In [54]:
gendata = gendata.groupby(['Time stamp','month','year']).mean().reset_index()

In [55]:
gendata.head()

           Time stamp  month  year  System power generated | (kW)
0 2018-01-01 00:00:00      1  2018                      -0.631104
1 2018-01-01 01:00:00      1  2018                      -0.631104
2 2018-01-01 02:00:00      1  2018                      -0.631104
3 2018-01-01 03:00:00      1  2018                      -0.631104
4 2018-01-01 04:00:00      1  2018                      -0.631104

In [10]:
test = market.MarketSimulator(testdata = 5, method = 'mock')

using mock prices

In [25]:
test.results['year'] = test.results['Day'].dt.year
test.results['month'] = test.results['Day'].dt.month

In [26]:
test.results.head()

         Day  Hour  Price  year  month
0 2018-01-01  0:00  26.84  2018      1
1 2018-01-01  1:00   25.1  2018      1
2 2018-01-01  2:00  24.96  2018      1
3 2018-01-01  3:00  26.06  2018      1
4 2018-01-01  4:00  27.51  2018      1