In [1]:
import numpy as np
import pandas as pd
import os
from src import market as mkt
from src import optimizer as opt

In [2]:
print(os.getcwd())

/Users/Desmond/Desktop/Coding/GitHub/Storage/Energy-Storage-Valuation

In [3]:
prices = pd.read_csv('./data/price_data.csv', parse_dates = ["Date"])
prices.columns = ['Date','Price']

In [4]:
prices.head()

                 Date  Price
0 2019-01-03 00:00:00  46.72
1 2019-01-03 00:15:00  40.48
2 2019-01-03 00:30:00  37.94
3 2019-01-03 00:45:00  36.72
4 2019-01-03 01:00:00  40.32

In [5]:
wx = pd.read_csv('./data/weather.csv', parse_dates = ['Time'])[['Time','Temp','Dewpoint','Humid']]

In [6]:
wx.head()

                 Time  Temp  Dewpoint  Humid
0 2019-01-03 00:00:00    44        33   0.65
1 2019-01-03 01:00:00    41        33   0.73
2 2019-01-03 02:00:00    40        34   0.79
3 2019-01-03 03:00:00    40        32   0.73
4 2019-01-03 04:00:00    40        34   0.79

In [7]:
data = prices.merge(wx, left_on = 'Date', right_on = 'Time', how='left')

In [8]:
data = data.fillna(method='ffill')[['Price','Temp','Dewpoint','Humid']]

In [9]:
data.head()

   Price  Temp  Dewpoint  Humid
0  46.72  44.0      33.0   0.65
1  40.48  44.0      33.0   0.65
2  37.94  44.0      33.0   0.65
3  36.72  44.0      33.0   0.65
4  40.32  41.0      33.0   0.73

In [10]:
test = mkt.MarketSimulator()

In [11]:
results = test(testdata = data)

In [12]:
results

array([ -15.75691181,   18.07814074, -651.94119481])

In [13]:
from random import choices

In [16]:
choices(np.arange(0,3),k=5)

[1, 0, 2, 0, 2]

In [17]:
data.head()

   Price  Temp  Dewpoint  Humid
0  46.72  44.0      33.0   0.65
1  40.48  44.0      33.0   0.65
2  37.94  44.0      33.0   0.65
3  36.72  44.0      33.0   0.65
4  40.32  41.0      33.0   0.73

In [21]:
testind = choices(np.arange(0,5), k=7)

In [24]:
data.shape

(192, 4)

In [25]:
len(data)

192

In [2]:
#test optimizer

In [2]:
R = np.zeros((5,10,10,7))
R[2,3,4,5] = 10

In [3]:
P = np.zeros((5,10,10,7)) + .1

In [4]:
test = opt.solve(R,P)